body{
 			font-family: 'Montserrat', 'sans-serif';
 			line-height: 1.6;
 		}
 		.container{
 			width: 100%;
 			margin: 0 auto;
 		}

 		ul.tabs{
 			margin: 0px;
 			padding: 0 20% 0 20%;
 			list-style: none;
 		}
 		ul.tabs li{
          	font-size: {{font_size}}px;
 			background: none;
 			color: {{title_color}};
 			display: inline-block;
 			padding: 10px 15px;
 			cursor: pointer;
          	opacity: 0.5;
 		}

 		ul.tabs li.current{
 			background: {{background_color}};
 			color: #0b2c25;
          	opacity: 1;
 		}

 		.tab-content{
          	font-size: {{font_size_content}}px;
          	text-align: {{alignment}};
 			display: none;
 			background: {{background_color}};
 			padding: 30px;
 		}

 		.tab-content.current{
 			display: inherit;
 		}

    .tabs {
      width: 100%;
      display: flex;
    }


    .tab-link {
      justify-content: center;
      color: {{title_color}};
      font-weight: {{font_weight}};
      text-transform: {{text_transform}};
      text-align: {{alignment2}};
      width: auto;
      margin: auto;
    }

    .tab-link-current:active {
      background-color: #fff;
    }
